/*------------------------------------------------------------------

[Table of contents]

    Colors
        Normalize
        Classes
            Common
            Demo
            Content
            Forms

-------------------------------------------------------------------*/

/*----*****---- << Colors >> ----*****----*/

$white: #ffffff;
$smokyWhite: #f5f5f5;
$snowWhite: #f9f2f4;
$alabasterWhite: #fafafa;
$silverWhite: #eeeeee;
$black: #000000;
$blue: #337ab7;
$lightBlue: #add8e6;
$pacificBlue: #add8e6;
$deepBlue: #23527c;
$gray: #808080;
$dimGray: #666666;
$agatGray: #b4b4b4;
$metallic: #cccccc;
$darkGray: #333333;
$yellow: #ffff00;
$silver: #c0c0c0;
$lightRed: #c7254e;
$lightTelegray: #d3d3d3;

/*----*****---- << End colors >> ----*****----*/

/*----*****---- << Normalize colors >> ----*****----*/

$color-body-normalize: $black;
$bg-color-body-normalize: $white;
$bg-color-video-normalize: $black;

$color-dialog-normalize: $black;
$bg-color-dialog-normalize: $white;
$border-color-dialog-normalize: $black;

$color-border-bottom-abbr-normalize: currentColor;
$color-border-bottom-ins-normalize: currentColor;
$bg-color-hr-normalize: $black;
$color-mark-normalize: $black;
$bg-color-mark-normalize: $yellow;
$border-color-input-select-textarea-normalize: $gray;
$color-border-fieldset-normalize: $silver;

/*----*****---- << End normalize colors >> ----*****----*/

/*----*****---- << Common colors >> ----*****----*/

$color-a-classesCommon: $blue;
$color-a-hover-focus-active-classesCommon: $deepBlue;
$color-code-classesCommon: $lightRed;
$bg-color-code-classesCommon: $snowWhite;
$color-kbd-classesCommon: $white;
$bg-color-kbd-classesCommon: $darkGray;

$color-pre-classesCommon: $darkGray;
$bg-color-pre-classesCommon: $smokyWhite;
$border-color-pre-classesCommon: $metallic;
$border-color-pre-hover-classesCommon: $metallic;

$border-left-color-blockquote-classesCommon: $silverWhite;
$border-left-color-blockquote-hover-classesCommon: $silverWhite;
$color-blockquote-small-footer-classesCommon: $gray;

/*----*****---- << End Ñommon colors >> ----*****----*/

/*----*****---- << Demo colors >> ----*****----*/

$color-project-title-classesCommon: $darkGray;
$bg-color-project-title-classesCommon: $silverWhite;

$color-section-title-classesCommon: $dimGray;
$bg-color-section-title-classesCommon: $silverWhite;
$border-left-color-section-title-classesCommon: $dimGray;

/*----*****---- << End demo colors >> ----*****----*/

/*----*****---- << Content colors >> ----*****----*/

$color-outline-content-svg-wrapper-classesCommon: $lightBlue;
$color-fill-content-svg-circle-classesCommon: $pacificBlue;
$color-outline-content-img-wrapper-classesCommon: $lightBlue;

/*----*****---- << End content colors >> ----*****----*/

/*----*****---- << Forms colors >> ----*****----*/

$color-forms-input-classesCommon: $agatGray;
$bg-color-forms-input-classesCommon: $alabasterWhite;
$color-border-forms-input-classesCommon: $lightTelegray;
$color-forms-button-label-classesCommon: $agatGray;

/*----*****---- << End forms colors >> ----*****----*/
