/*------------------------------------------------------------------

[Table of contents]

    Box shadow

-------------------------------------------------------------------*/

/*----*****---- << Box shadow >> ----*****----*/

@mixin boxShadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

/*----*****---- << End box shadow >> ----*****----*/
