/*------------------------------------------------------------------

[Table of contents]

    Box sizing

-------------------------------------------------------------------*/

/*----*****---- << Box sizing >> ----*****----*/

@mixin boxSizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

/*----*****---- << End box sizing >> ----*****----*/
