/*------------------------------------------------------------------

[Table of contents]

    Selection

-------------------------------------------------------------------*/

/*----*****---- << Selection >> ----*****----*/

@mixin selection($color: null, $bgColor: null, $element: null) {
    #{$element}::-webkit-selection {
        text-shadow: none;

        @if($color != null) {
            color: $color;
        }

        @if($bgColor != null) {
            background-color: $bgColor;
        }
    }

    #{$element}::-moz-selection {
        text-shadow: none;

        @if($color != null) {
            color: $color;
        }

        @if($bgColor != null) {
            background-color: $bgColor;
        }
    }

    #{$element}::-ms-selection {
        text-shadow: none;

        @if($color != null) {
            color: $color;
        }

        @if($bgColor != null) {
            background-color: $bgColor;
        }
    }

    #{$element}::-o-selection {
        text-shadow: none;

        @if($color != null) {
            color: $color;
        }

        @if($bgColor != null) {
            background-color: $bgColor;
        }
    }

    #{$element}::selection {
        text-shadow: none;

        @if($color != null) {
            color: $color;
        }

        @if($bgColor != null) {
            background-color: $bgColor;
        }
    }
}

/*----*****---- << End selection >> ----*****----*/
