/*------------------------------------------------------------------

[Table of contents]

    Tab size

-------------------------------------------------------------------*/

/*----*****---- << Tab size >> ----*****----*/

@mixin tabSize($value) {
    -moz-tab-size: $value;
    -o-tab-size: $value;
    tab-size: $value;
}

/*----*****---- << End tab size >> ----*****----*/
